body {
	font-family: Arial;
	background: linear-gradient(45deg, green, gold);
  }
  
  #theme {
	margin: auto;
	text-align: center;
  }
  
  #container {
	width: 1000px;
	margin: 50px auto;
	padding: 20px;
  }
  
  #container h2 {
	text-align: center;
	background-color: #79F6FC;
	color: green;
	border: 5px solid gold;
	border-radius: 8px;
	padding: 8px;
	font-weight: bold;
	font-size: 30px;
  }
  
  #quoteContainer {
	background: white;
	color: green;
	border: 5px solid gold;
	border-radius: 10px;
	padding: 10px;
	margin: 30px auto;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	width: 800px;
	height: 400px;
  }
  
  #buttonContainer {
	width: 100%;
	text-align: center;
  }
  
  #quoteButton {
	width: 200px;
	margin-top: 10px;
	border: 5px solid #79F6FC;
	color: green;
	background-color: gold;
	font-size: 30px;
	font-family: inherit;
	font-weight: bold;
	padding: 8px;
	border-radius: 8px;
	text-decoration: none;
	text-align: center;
  }
  
  #quoteButton:hover {
	cursor: pointer;
	background: #79F6FC;
	color: green;
  }
  
  #quoteButton:active {
	cursor: pointer;
  }
  
  #quoteButton {
	display: inline-block;
  }
  
  #quoteGenius {
	font-style: italic;
	font-weight: 600;
	text-align: center;
  }
  
  /*MEDIA QUERIES*/
  @media screen and(max-width:760px) {
  
	#quoteButton,
	#addNew {
	  display: block;
	}
  }
  
  /* home/main menu controls button */
  .controls {
	height: 100px;
	border: 5px solid #79F6FC;
	background-color: green;
	font-size: 30px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
  }
  
  .controls button {
	padding: 8px;
	border-radius: 8px;
	font-size: 30px;
	margin-right: 20px;
	cursor: pointer;
	border: 5px solid gold;
  }
  
  .home {
	color: green;
	border: 5px solid gold;
	font-weight: bold;
	font-size: 30px;
	font-family: Arial;
  }
  
  .home:hover {
	background-color: #79F6FC;
	color: green;
  }